* {
    box-sizing: border-box;
}

.movies__list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.movie {
    &__item {
        flex-shrink: 0;
        width: 242px;
        border: 1px solid #eee;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-decoration: none;
        color: #333;
    }
}

.trending__title{
    display: flex;
  justify-content: center;
  align-items: center;
}